.card {
    margin: 20px 20px;
    width: calc(50% - 40px);
    float: left;
}

.card-footer-item {
    border-right: none !important;
    border-left: 1px solid #dbdbdb;
}

@media (max-width: 800px) {
    .noborder {
        display: none !important;
    }
}

@media (max-width: 1100px) {
    .card {
        float: none;
        width: calc(100% - 40px);
    }
}

.noborder {
    border: none !important;
}

svg {
    margin-right: 10px;
}

.error {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.left {
    display: inline-flex;
    vertical-align: middle;
    flex-direction: column;
}

.middle {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
}

.right {
    display: inline-flex;
    vertical-align: middle;
    justify-content: flex-end;
}

.elem {
    padding: 2px;
    margin: 5px;
    text-align: center;
}

.reason {
    font-weight: bold;
}

.content>.user {
    font-weight: bolder;
    color: #808080;
}